/* start variables */
:root {
  --main-color: #f7b500;
  --sec-color: #673ab7;
  --back-color: #121317;
  --text-color: white;
  --transition: 0.3s;
  --box-shadow: rgba(38, 38, 38, 0.2) 0px 8px 24px;
}
/* end variables */
/* dark mode  */
.dark-mode {
  --main-color: ;
  --back-color: ;
  --text-color: ;
}
/* dark mode  */
/* start global rules */
* {
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
ul {
  margin: 0;
}
body {
  font-family: "Cairo", sans-serif;
  background-color: var(--back-color);
  padding-top: 93px;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
html {
  scroll-behavior: smooth;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
}
/* End Global Rules */
/* start header  */
header {
  padding: 20px 0;
  background-color: black;
  position: fixed;
  width: 100%;
  box-shadow: var(--box-shadow);
  top: 0;
  left: 0;
  z-index: 50;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
header .right,
header .left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
header .logo img {
  width: 120px;
}
header nav {
  transition: all var(--transition);
  -webkit-transition: all var(--transition);
  -moz-transition: all var(--transition);
  -ms-transition: all var(--transition);
  -o-transition: all var(--transition);
}
header nav ul {
  display: flex;
  align-items: center;
  gap: 15px;
}
header nav ul a {
  color: var(--text-color);
}
header .search input {
  background-color: var(--back-color);
  width: 250px;
  padding: 10px;
  border: 1px solid var(--main-color);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
header .search input::placeholder {
  font-size: 0.8rem;
  color: white;
}
header .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
}
header .icons i {
  font-size: 20px;
  color: var(--text-color);
}

header .exit,
header .menu {
  display: none;
  font-size: 25px;
  text-align: center;
  cursor: pointer;
  transition: all var(--transition);
  -webkit-transition: all var(--transition);
  -moz-transition: all var(--transition);
  -ms-transition: all var(--transition);
  -o-transition: all var(--transition);
  color: var(--text-color);
}
header .exit:hover,
header .menu:hover {
  color: var(--main-color);
}

@media (max-width: 991px) {
  header .exit,
  header .menu {
    display: block;
  }
  header .exit {
    margin-bottom: 70px;
  }
  header nav {
    position: fixed;
    height: 100svh;
    height: 100vh;
    flex-direction: column;
    z-index: 50;
    top: 0;
    right: -232px;
    background-color: black;
    align-items: flex-start;
    padding: 50px;
    box-shadow: rgba(100, 100, 111, 0.075) 0px 7px 29px 0px;
    gap: 25px;
    max-width: 100%;
  }
  header nav ul {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
  }
  header .search {
    display: none;
  }
}
/* end header  */
/* start main  */
main {
  padding: 30px 0;
}
main .container {
  display: grid;
  grid-template-columns: 1fr 0.8fr;
}

.heading {
  color: var(--text-color);
  font-size: 1.7rem;
}
.heading {
  color: var(--text-color);
  font-size: 1.1rem;
  line-height: 1.5;
}

@media (max-width: 767px) {
}
.items-section {
  padding: 25px 0;
}
/* end main  */
/* start boxes  */
.boxes {
  display: flex;
  gap: 25px;
  overflow-x: scroll;
  overflow-y: hidden;
  height: fit-content;
  padding: 30px 0;
}
.items-section {
  width: 600px;
  min-width: 100%;
  max-width: 100%;
}
.box {
  min-width: 150px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
}
@media (max-width: 991px) {
  main .container {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 767px) {
  .items-section {
    width: calc(100vw - 30px);
  }
}
.items-section .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-butt {
  color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  padding: 7px;
  font-size: 0.8rem;
  white-space: nowrap;
  background-color: transparent;
}
.add {
  width: 100%;
  font-size: 1.1rem;
  cursor: pointer;
}
.item-box {
  min-width: 200px;
}
.item-box .title {
  font-size: 0.8rem;
  line-height: 1.5;
}
.item-box img {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.item-box .footer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.item-box .price {
  display: flex;
  gap: 10px;
  align-items: center;
}
.item-box .price span:nth-child(1) {
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.item-box .price span:nth-child(2) {
  color: var(--main-color);
  font-weight: bold;
}
.item-box .price span:nth-child(3) {
  font-size: 0.8rem;
}
/* end boxes  */
